<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav" style="width:50%">
            <li class="country_flag_li">  <img class="country_flag" src="app-images/ukrainian_flag.png" /></li> 
            <li class="country_flag_li">  <img class="country_flag" src="app-images/british_flag.png" /></li>
            <li class="country_flag_li">  <img class="country_flag" src="app-images/german_flag.png" /></li>
            <li><a routerLink="/mycabinet"><u>Мій кабінет</u></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/questions">Є питання? <u>Клікай тут!</u></a></li>
            <li> <button class="social_button"> <img class="social_icon"  src="app-images/facebook.png" /></button></li>
            <li> <button class="social_button"> <img class="social_icon" src="app-images/twitter.png" /></button></li>
            <li> <button class="social_button"> <img class="social_icon" src="app-images/instagram.png" /></button></li>
            </ul>
</div>
</nav>