<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">LabaMaker</a>
        </div>
        <ul class="nav navbar-nav">
            <li [routerLinkActive]="['active']"><a routerLink="/home" >Головна</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/allWorks">Знайти роботу</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/addWork">Додати роботу</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/aboutUs">Про нас</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/help">Довідка</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <div style="display:inline;cursor:grab;">
                    <img [src]="UserPic" class="userPic" />
                    <div >
                    
                        <p class="User" >
                            {{UserName+" "}}{{Balance +"₴"}}
                        <ai-star [rating]="Rating"></ai-star>
                    </div>
                </div>
            </li>
            <li [routerLinkActive]="['active']"> <a routerLink="/cart">
                <span class="	glyphicon glyphicon-shopping-cart"></span> Мій кошик</a></li>
        </ul>
    </div>
</nav>