<div id="mybox">
<div id="contents">
    <h1 style="    color: black;
    font-size: 5vw;"><b>Laba</b>Maker</h1>
    <h2 style="  color: black;width:70%;margin:0">Найбільший український ресурс з лабами, розрахами, рефератами та іншими роботами для студентів.
    <br />
    <br />
Не гай часу, приєднуйся!
</h2>
    <div id="loginForm">
        <h3 class="text-center">Вхід</h3>
        <div class="input-group myInput">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input id="email" type="text" class="form-control" name="email" placeholder="Електронна пошта">
        </div>
        <div class="input-group myInput">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" class="form-control" name="password" placeholder="Пароль">
        </div>
        <div style="display:flex;flex-direction:column;align-items:center">
            <button pButton type="button" label="Увійти" class="ui-button-success"></button>
            <a style="color:black" href="forgot"><u>Забули пароль?</u></a>
            <br />

            Ще не зареєстровані?
            <a style="color:black" routerLink="/register"><u>Реєструйтесь зараз!</u></a>
        </div>
    </div>
</div>

</div>