<div class="border">
    <p class="displaying_headers main_header">{{maintitle}}</p>
</div>

<div class="displaying_columns text-text">
    
    <div>
        <div class="border">
            <h3 class="displaying_headers headers"> {{title1}} </h3>
        </div>   
        <ul>
            <li>{{text1_1}}</li>
            <li>{{text1_2}}</li>
            <li>{{text1_3}}</li>
            <li>{{text1_4}}</li>
        </ul>
    </div>

    <div>
        <div class="border">
            <h3 class="displaying_headers headers"> {{title2}} </h3>
        </div>
        <ul>
            <li>{{text2_1}}</li>
            <li>{{text2_2}}</li>
            <li>{{text2_3}}</li>
        </ul>
    </div>

    <div>
        <div class="border">
            <h3 class="displaying_headers headers"> {{title3}} </h3>
        </div>
        <ul>
            <li>{{text3_1}}</li>
            <li>{{text3_2}}</li>
            <li>{{text3_3}}</li>
            <li>{{text3_4}}</li>
        </ul>
    </div>

    <div>
        <div class="border">
            <h3 class="displaying_headers headers"> {{title4}} </h3>
        </div>
        <ul>
            <li>{{text4_1}}</li>
            <li>{{text4_2}}</li>
            <li>{{text4_3}}</li>
            <li>{{text4_4}}</li>
            <li>{{text4_5}}</li>
            <li>{{text4_6}}</li>
            <li>{{text4_7}}</li>
        </ul>
    </div>

</div>