<p-accordion (onOpen)="getScreens()">
    <p-accordionTab >
        <p-header>
            <table class="table" style="margin-bottom:0px;">
                <thead class="thead" style="border-color:transparent">
                    <tr>
                        <th style="width:19%;border-bottom: 0">{{Item.universityName}}</th>
                        <th style="width:19%;border-bottom: 0 ">{{Item.facultyName}}</th>
                        <th style="width:19%;border-bottom: 0 ">{{Item.subjectName}}</th>
                        <th style="width:19%;border-bottom: 0 ">{{Item.theme}}</th>
                        <th style="width:10%;border-bottom: 0 ">{{Item.author.name}}</th>
                        <th style="width:7% ;border-bottom: 0 ">{{Item.creationDate | date:'dd/MM/yyyy'}}</th>
                        <th style="text-align:right;width:7%;border-bottom: 0 !important">{{Item.price}}</th>
                    </tr>
                </thead>
            </table>
        </p-header>
        <div style="display:flex;flex-direction:column">
            <div style="display:flex;flex-direction:row">
                <div class="userBox">
                    <img [src]="Item.author.userPicPath" class="userPic" />
                    <div >

                        <p class="text-center">
                            {{Item.author.name}}
                            </p>
                            <ai-star [rating]="Item.author.rating"></ai-star>
                            123
                            <br />
                            123
                    </div>
                </div>
                <div style="width:100%">
                    <h4 class="text-center">Опис роботи:</h4>
                    <div [innerHTML]="Item.description" #description></div>
                </div>
                <p-dialog [(visible)]="display" closable="true" modal="modal">
                    <img [src]="imageToShow" style="width:400px;height:560px;"/>
                </p-dialog>
                <p-galleria [images]="images" [panelWidth]="280" [panelHeight]="320" [showCaption]="false" [autoPlay]="false" (onImageClicked)="onImageClicked($event)"></p-galleria>
            </div>
        </div>
    </p-accordionTab>
</p-accordion>