.ui-dropdown-trigger
{
    background:url(images/arrow.png);
    background-size:contain
}
input:hover {
    border-color:#fbcb09
}
input:focus {
    border-color: #fbcb09;
    box-shadow: #fbcb09
}

.dropdown_main_block{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
}
.dropdown_small_block {
    margin-right:10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ui-paginator{
    background-color:transparent !important;
    border:none !important
}
.ui-paginator-last {
    background-color: green
} 
.ui-paginator-first{
    background-color:red
}
