<h2>Вітаємо!</h2>
<p class="text-text">
    Ти увійшов на найбільший український ресурс з лабами, розрахами, рефератами та іншими необхідними роботам для студентів.
    <br />
    Ти всього лиш в одному кліку від покупки роботи чи отримання грошей за завантажену роботу.
</p>
<div style="display:flex;justify-content:center">
    <a class="hvr-grow-shadow" routerLink="/allWorks">
        <img src="home-images/findwork.png" style="height:360px; width:585px" />
    </a>
    <a class="hvr-grow-shadow" routerLink="/addWork">
        <img src="home-images/upload.png" style="height:360px;width:585px" />
    </a>
</div>